.DashComp {
  width: 84%;
  margin: auto;
  background: #f8f9fa;
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headerDash {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
  flex-direction: column;
}

.titleDash {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(-49deg, #ad731769, #ececec40, #ffffff0f, #b162180d) !important;
  border-radius: 5px !important;
  padding: 16px 10px !important;
  box-shadow: 10px 10px 11px 1px #eeeeee !important;
}

.titleDash h5 {
  width: 50%;
}
.titleTextDash {
  text-align: -webkit-center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #182936, #c2272d);
  margin: 0px;
  font-size: 20px;
}

.navLinks {
  display: flex;
  gap: 20px;
}

.link {
  color: #363636;
  cursor: pointer;
  padding: 8px 12px;
  font-weight: 600;
  transition: 0.3s ease;
}

.link:hover,
.link.active {
  border-bottom: 1px solid #cbc9c9;
}

.logoImgDash {
  width: 100px;
  height: 40px;
}

.tableContainer {
  position: relative;
  max-width: 100%;
}

.TableContent {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 300px;
  padding-top: 40px;

}


/* Table Styling */
.tableContainer {
  width: 100%;
  overflow-x: auto;
  /* Active le scroll horizontal si nécessaire */
  white-space: nowrap;
  /* Empêche le retour à la ligne des cellules */
}

.table {

  min-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 300px;
  border-collapse: collapse;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #d1d1d1;
}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 15px;

}

.table th {
  background: #60606085;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 2px solid #c2272d;

}

.table tr td select {
  border: none;
  padding: 5px;
  border-radius: 3;
}


.ctrlCl {
  cursor: pointer;
  position: relative;
}

.ctrlCl span {
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}

.ctrlCl:hover span {
  transform: rotate(360deg);
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: auto;

}

.ctrlBtn {
  display: none;
}

.ctrlCl:hover .ctrlBtn {
  display: inline-block;
}

.deleteLogo {
  font-size: 20px;
  padding: 3px;
  cursor: pointer;
  margin: 0px;
  margin-right: 2px;
  color: #2c4f68;
}

.deleteLogo:hover {
  color: #c2272d;
}

.updateLogo {
  font-size: 20px;
  padding: 3px;
  cursor: pointer;
  margin: 0px;
  color: #2c4f68ed;

}

.updateLogo:hover {
  color: #c2272d;
}

.editRow {
  background-color: #eeeeeeab;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px !important;
  margin-right: 10px;
  margin-left: 0px;
  border-top-right-radius: 10px;
  box-shadow: 5px 5px 8px #dddddd;
  border-top: 3px solid !important;
  border-right: 1px solid !important;
  border-bottom: none !important;
  border-left: none !important;
  border-color: #ededed !important;
}

.editRow button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.ChangeInput {
  padding: 5px 5px;
  border-color: #e4751b59;
}



.HeaderTabelCtrl {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 15px;

  position: sticky;
  top: 0;
  z-index: 2;
}

.ctrlTabBtns {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctrlTabBtns button {
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid transparent;

  width: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.4s;

}

.ctrlTabBtns button:hover {
  border-color: #cbc9c9;
}

.searchInput {
  width: 40%;
  z-index: 5;
  position: absolute;
  top: 4px;
  left: 2px;
}


.CreateInput {
  padding: 5px 5px;
  border-color: #1be46b59;
}

.CreateRowStyle {
  align-items: center;
  background-color: #eeeeeeab;
  border-color: #ededed !important;
  border-style: solid solid none none !important;
  border-top-right-radius: 10px;
  border-width: 3px 1px medium medium !important;
  box-shadow: 5px 5px 8px #ddd;
  display: flex;
  justify-content: space-around;
  margin-left: 0;
  margin-right: 10px;
  padding: 5px !important;
}